# .gitignore
## Files we want to have locally, but do not want to push to remote

## gitbook generated
## because asrob-uc3m repos is currently hosted and generated at gitbook.com legacy site: https://asrob-uc3m.gitbooks.io
/_book/
